---
layout: default
title: Новости-2013
menu: news
---

<h4>6 декабря 2013</h4>
<p>У Алисы, дочки Дивы, родилась почти футбольная команда: 5 мальчиков и 2 девочки :-)</p>
<p><b>Родители щенков:</b></p>
<p align="center"><b>Айстраум Ясон х Лоссэ Аранель Из Мирашела</b></p>
<p align="center">{% include photo.html photo="jason" %}{% include photo.html photo="alisa12-1" %}</p>

<h4>1 декабря 2013</h4>
<p>Мы решили немного обновить вид сайта, добавить новые фотографии и информацию.</p>

<h4>27 ноября 2013</h4>
<p>В нашем доме родились малыши: 4 девочки и 1 мальчик.</p>
<p><b>Родители щенков:</b></p>
<p align="center"><b>Русское Серебро Пересвет х Дива Дивная Из Мирашела</b></p>
<p align="center">{% include photo.html photo="persik2" %}{% include photo.html photo="diva81" %}</p>

 <h4>29-30 августа 2013</h4>
<h5>CACIB SHOW GENEVE-2013</h5>
<p align="center"><b>Linde Aiwe Iz Mirashela</b> - САС, CACIB, BOB!</p>

<h5>EURODOGSHOW 2013</h5>
<p align="center"><b>Linde Aiwe Iz Mirashela</b> - САС, CACIB, BOS, Чемпион Европы-2013, Чемпион Швейцарии!</p>

<p align="center">Спасибо Пашкевич Елене и владельцам Саны, Матвеевым Валентине и Александру Ивановичу, за все! Самые сердечные поздравления и благодарность! Вы лучшие!</p>

<p align="center"><a href="../public/images/photo/sana-ew1.jpg"  class="thickbox"><img  src="../public/images/photo/sana-ew1.jpg" height=300 ></a>
<a href="../public/images/photo/sana-ew2.jpg"  class="thickbox"><img  src="../public/images/photo/sana-ew2.jpg" height="300px" ></a>
<a href="../public/images/photo/sana-ew3.jpg"  class="thickbox"><img  src="../public/images/photo/sana-ew3.jpg" height=300 ></a>
<a href="../public/images/photo/sana-ew4.jpg"  class="thickbox"><img  src="../public/images/photo/sana-ew4.jpg" height=300 ></a>
<a href="../public/images/photo/sana-ew5.jpg"  class="thickbox"><img  src="../public/images/photo/sana-ew5.jpg" height=300 ></a></p>

<h4>27 июля 2013</h4>
<p>Поздравляем наших деток от Кузи и Дивы с началом третьего года жизни! Счастья и здоровья каждому из щенков!</p>

<h4>1 июня 2013</h4>
<p> Халк переехал в свой дом! Счастья и удачи ему! Очень надеемся увидеть мальчика на выставках.</p>

 <h4>26 мая 2013</h4>
 <p>К нам в гости прилетел брат Дивы - Халк Из Мирашела (Lohamras King Of The Road x Eswood Orla).</p>
 <p>Халк ждет свою самую любимую и любящую семью! Очень надеемся найти парню выставочные ручки в Москве.</p>
<p><a href="http://pic.spitz-forum.ru/img/m/n/mnotfckluh.jpg"  class="thickbox"><img  src="http://pic.spitz-forum.ru/img/m/n/mnotfckluh.jpg" height=300 ></a></p>


 <h4>23-24 марта 2013</h4>
 <p>Двоцной CACIB - Евразия-2013, г. Москва. Эксперты - Jean Blangino (Франция) и Сергей Слукин (Украина).</p>
 <p>В прошедших выставках принимали участие две наши дочки - Варя (Лиссэ Алмиэ) и  Сана (Линдэ Айвэ). <br>
 В первый день под французским экспертом Сана выиграла свой класс и стала R.BOS, проиграв действующему интерчемпиону. Таким образом Сана завоевала свой второй CACIB! <Br>
 А вот Варя не смогла справиться с волнением из-за отсуствия хозяев на выставке, в результате, к сожалению, выступление в ринге было никаким..</p>
 <p>Зато второй день был гораздо продуктивнее для обеих дочек: <br>
 Варя - победитель класса, CAC!<br>
 Сана - победитель класса, Лучшая сука, CACIB, ЧРКФ, Чемпион Евразии!</p>
<p>Большая благодарность и владельцам Вари, которые доверили нам выставить Варю в свое отсутствие, и поздравления с ее первым взрослым САС!</p>
<a href="../public/images/photo/varya15.jpg"  class="thickbox"><img  src="../public/images/photo/varya15.jpg" height=300 ></a>
<p>И конечно поздравления и огромная благоданость и владельцам Саны, и Елене Пашкевич - бессменному хендлеру и грумеру Саны!</p>
<a href="../public/images/photo/sana18.jpg"  class="thickbox"><img  src="../public/images/photo/sana18.jpg" height=300 ></a>

 <h4>2-3 марта 2013</h4>
 <p>Международные выставки собак ранга CACIB, г. Донецк. Эксперты - Соколова Лидия (Россия) и Радослав Стойнов (Болгария).</p>
<p>Кеесхонд Дива Дивная Из Мирашела (Lohamras King Of The Road х Глория Флоренс Бесси Лайт) в оба дня:
- <br><b>отлично, CW, САС, ЛС, CACIB, ЛПП!</b><br></p>
<p>Таким образом, Дива закрыла Интер.Чемпиона, Чемпиона Украины и Гранд Чемпиона Украины! 
<br> В первую очередь, огромная благодарность заводчицам Дивы - Никитиной Екатерине и Бахтиной Наталье. Именно благодаря им у нас появилось наше чудо, наша Дива. Спасибо!
<br> Хочу отметить и работу Елены Пашкевич с шерстью Дивы. Несмотря на линьку собаки, оба эксперта отметили отличный груминг.</p>
<p align="left"><a href="/donetsk">О нашей поездке в Донецк можно почитать здесь.</a></p>
 <h4>2 марта 2013</h4>
<p>Кеесхонд Лассэланта Аринья Из Мирашела (Русское Серебро Персивалль Фор Невастар х Дива Дивная Из Мирашела) снова участвовала во всепородной выставке собак. Эксперт Коробова (Россия). Ее результаты:
- <br><b>отлично, CW, САС, ЛС, ЛПП!</b><br>
<p>Риша закрыла Чемпиона России и чемпиона Беларуси! Большие поздравления всем причастным к победам Риши!</p>
 <h4>10 февраля 2013</h4>
<p>Всероссийская выставка ранга ЧРФЛС "Империя". Эксперт Филатова А. (Россия)</p>
<p>Кеесхонд Лассэланта Аринья Из Мирашела (Русское Серебро Персивалль Фор Невастар х Дива Дивная Из Мирашела) потрясающе выступила на выставке и получила следующие оценки в рингах:
- <br><b>отлично, CW, САС, ЛС, ЧРФЛС, ЛПП, BIG-I, BIS-II!!!</b><br>
<a href="../public/images/photo/risha21.jpg"  class="thickbox"><img  src="../public/images/photo/risha21.jpg" height=300 ></a><a href="../public/images/photo/risha23.jpg"  class="thickbox"><img  src="../public/images/photo/risha23.jpg" height=300 ></a></p>
<p ">Огромные поздравления и владельцам Риши - семье Губановых, и самому любимому Ришей хендлеру - Полуниной Надежде, и Елене Пашкевич за отличный груминг Риши!</p>

 <h4>26 января 2013</h4>
<p>В Москве прошла выставка "Памяти Сабанеева". </p>
<p>Санечка - Линдэ Айвэ Из Мирашела продолжила славные традиции, заложенные мамой Дивой:
- <br><b>отлично, CW, САС, ЛС, ЧРФОС, ЧРКФ, ЛПП</b><br>
<a href="../public/images/photo/sana17.jpg"  class="thickbox"><img  src="../public/images/photo/sana17.jpg" height=300 ></a><a href="../public/images/photo/sana16.jpg"  class="thickbox"><img  src="../public/images/photo/sana16.jpg" height=300 ></a></p>
<p>Поздравления и владельцам, и  Елене Пашкевич, грумеру и хендлеру Саны!</p>

<p align="right"><a href="/news/2012">Далее</a></p>
