---
layout: default
title: Новости-2014
menu: news
---
<h4>15 ноября 2014</h4>
<p>В Нижнем Новгороде состоялась международная выставка ранга CACIB.</p>
<p>Дивный Друг Брайт Балу выиграл класс юниоров, а затем стал и лучшим представителем породы!</p>
<p>Всего в выставке участвовало 5 кеесхондов.</p>
<p>Огромные поздравления и Анне, и Балу! Так держать!</p>
<p align="center">{% include photo.html photo="b/balu17" %}</p>

<h4>8 ноября 2014</h4>
<p>В Москве дебютировал Дивный Друг Бэтмен.</p>
<p>Буран на выставке получил оценку "очень хорошо".</p>
<p>Пусть это не самая высокая оценка, зато есть, куда стремиться!</p>
<p>Буре и его владельцам выставочных успехов!</p>

<h4>6 ноября 2014</h4>
<p>Родились щенки (4 девочки и 3 мальчика) у Шерри - <a href="http://keeshond-kennel.com/puppies/lipte-alma-iz-mirashela.html">Липтэ Альма Из Мирашела</a>.</p>
<p>Счастливым отцом стал прекрасный Финик - Eswood Pure Mousse.</p>
<p>Щенки находятся в городе Глазов (Кировская область).</p>
<p>Координаты для связи:</p>
<p>8(909)0510185</p>
<p>tyivanova@mail.ru</p>
<p align="center">{% include photo.html photo="sherri10" height="250"%}{% include photo.html photo="finik" height="250"%}</p>
<p align="center">{% include photo.html photo="sherri16" height="250"%}</p>

<h4>5 октября 2014</h4>
<p>В Воронеже дебютировала Тари - Дивный Друг Ариадна!</p>
<p>Тари получила оценку отлично и свой первый J.CAC!</p>
<p>Галина и Леонид, с первой выставкой вашу девочку!</p>

<h4>28 сентября 2014</h4>
<p>В Нижнем Новгороде прошла всепородная выставка ранга CAC</p>
<p>Дивный Друг Брайт Балу успешно дебютировал на этой выставке - J.САС, ЛЮ, ЛПП!</p>
<p>Анна, примите поздравления с первой победой Вашего кеесхонда!</p>

<h4>21 сентября 2014</h4>
<p>В Краснодаре состоялась международная выставка ранга CACIB</p>
<p>Эксперт - Зоран  Бранкович  (Сербия)</p>
<p>Дивный Друг Айна - J.САС, ЛЮ, ЛПП!</p>
<p>Чара закрыла <b>Юного Чемпиона России!!</b></p>
<p align="center">{% include photo.html photo="a/aina45" %}</p>
<p>Огромные поздравления и Чаре, и ее самоотверженным владельцам!!</p>

<h4>13-14 сентября 2014</h4>
<p>Чара - Дивный Друг Айна в первый раз выступила в юниорском ринге.</p>
<p>Выставки проходили в Краснодаре. </p>
<p>В первый день экспертизу проводила Куколева Е.А.</p>
<p>Чара - J.САС, ЛЮ, ЛПП, <b>BIG-III, JBIS-V</b>!</p>
<p>Во второй день кеесхондов судила Лаврова Л.</p>
<p>Чара - J.САС, ЛЮ, ЛПП, <b>BIG-I</b>!!!</p>
<i>Из пожеланий эксперта: "Грандиозная  собака,  с  Огромным  будущим  в  выставочной  карьере."</i>
<p align="center">{% include photo.html photo="a/aina43" %}{% include photo.html photo="a/aina40" %}</p>
<p>Самые горячие поздравления владельцам Чары - Татьяне и Геннадию!!!</p>

<h4>11 августа 2014</h4>
<p>В субботу, 9 августа состоялся очередной Чемпионат Мира.</p>
<p>Удалось своими глазами посмотреть это зрелище.</p>
<p>Рассказ об увиденном <a href="/helsinki.html">по ссылке</a>.</p>

<h4>27 июля 2014</h4>
<p>Сегодня день рожденья у первенцев Дивы, у ЛА-помета!</p>
<p>От всей души, поздравляем с трехлетием именинников!!</p>


<h4>23 июня 2014</h4>
<p>Сегодня Дивушке 5 лет :-)</p>
<p align="center">{% include photo.html photo="diva95" %}</p>

<h4>6 июня 2014</h4>
<p>От всей души подравляем внуков Дивы, малышей Алисы и Ясона с первыми 6-ю месяцами жизни!</p>
<p>Поздравления всему Б-помету! Расти и радовать своих владельцев и нас :-)</p>

<h4>31 мая 2014</h4>
<p>Дивный друг Айна продолжает покорять выставочные ринги. На этот раз Чара выступала в классе "Щенки".</p>
<p align="center">{% include photo.html photo="a/aina25" %}</p>
<p>Под экспертизой Галиаскаровой Л.В. Чара стала сначала лучшим щенком породы, а затем заняла второе место в Бесте Щенков! А ее подружка Мышка (померанский шпиц) заняла третье место!</p>
<p>Татьяна, Геннадий, искренние поздравления с успехами девочек! Так держать!</p>

<h4>27 мая 2014</h4>
<p>Сегодня нашим маленьким кеесхондам от Дивы и Персика исполнилось 6 месяцев!</p>
<p>Огромные поздравления Масику, Тари, Чаре, Глаше и Ами с днем косточки!</p>

<h4>26 апреля 2014</h4>
<p>В классе "Бэби" дебютировал Масик (Дивный Друг Арамис).</p>
<p align="center">{% include photo.html photo="a/aramis34" %} {% include photo.html photo="a/aramis33" %}</p>
<p>Эксперт: Zafra Sirik (Израиль). Описание: очень сбалансированный, счастливый, красивая голова и выражение, отличный фронт, верх, красивый постав хвоста, хорошо одет. Большая перспектива, Лучший Бэби породы.</
<p>Очень рады успехам Масика!</p>

<h4>13 апреля 2014</h4>
<p>Вот и первые успехи наших деток от Дивы и Персика.</p>
<p align="center">{% include photo.html photo="a/aina16" %}</p>
<p>В этот день малышка Чара (Дивный Друг Айна) дебютировала в классе бэби на выставке в Краснодаре и получила оценку "Большая перспектива, Лучший бэби породы"</p>
<p>От всей душ поздравляем Татьяну и Геннадия, владельцев Чары, с успехами малышки!</p>

<h4>23 марта 2014</h4>
<p>Сана стала Лучшим представтелем породы на крупнейшей выставке России - Евразия-2014-2. Эксперт - Nina Karlsdotter (Швеция).</p>
<p>И одновременно Санечка стала двухкратным Чемпионом Евразии (в прошлом году Сана была BOS в один из дней)</p>
<p>Валентина Ивановна и Александр Иванович, спасибо вам за все!</p>
<p>Отдельная благодарность Пашкевич Елене за груминг и хендлинг Саны!</p>

<h4>12 января 2014</h4>
<p>Наша дочка-путешественница Сана покорила еще один европейский город, а именно - Париж.</p>
<p>В Париже прошло ежегодная выставка - Paris Dog Show. Эксперт - Petru Muntean (Румыния).</p>
<p>Линдэ Айвэ Из Мирашела- <b>отлично, CW, САС, ЛС, ЛПП</b></p>
<p align="center"><iframe width="640" height="360" src="//www.youtube.com/embed/00II6rk1qow" frameborder="0" allowfullscreen></iframe></p>
<p>На этой выставке Саня стала кандидатом в Чемпионы Франции и <b>закрыла ИНТЕРЧЕМПИОНА</b>!</p>
<p>Огромные поздравления и благодарность и владельцам Саны - Валентине Ивановне и Александру Ивановичу, и ее любимому куратору - Пашкевич Елене!</p>
<p>Новых побед! Держим за вас кулачки!</p>
<p align="right"><a href="/news/2013">Далее</a></p>
