<script type="text/javascript" src="../public/template/plugins/jquery.min.js"></script>
<script type="text/javascript" src="../public/template/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../public/template/plugins/modernizr.js"></script>
<script type="text/javascript" src="../public/template/plugins/flexslider/jquery.flexslider.js"></script>
<script type="text/javascript" src="../public/template/plugins/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="../public/template/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="../public/template/plugins/jquery.appear.js"></script>
<script type="text/javascript" src="../public/template/plugins/jquery.countTo.js"></script>
<script type="text/javascript" src="../public/template/plugins/flowtype.js"></script>   
<script src="../public/template/plugins/jquery.parallax-1.1.3.js"></script>
<script src="../public/template/plugins/jquery.validate.js"></script>
<script type="text/javascript" src="../public/template/js/template.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>       
