<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
      {% include head.html %}  
  </head>

	<body class="front preload">

		<!-- page wrapper start (Add "boxed" class to page-wrapper in order to enable boxed layout mode) -->
		<div class="page-wrapper">
		
			<!-- scrollToTop start -->
			<div class="scrollToTop"><i class="fa fa-angle-up"></i></div>

			<!-- header top start -->
            {% include header-top.html %}

			<!-- header start -->
			<header class="header text-center">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="logo">
								<a href="index.html"><img id="logo" src="../public/template/images/logo_blue.png" alt="iVega"></a>
							</div>
							<div class="site-slogan">
								Оптовая продажа технических тканей
							</div>
						</div>
					</div>
				</div>
			</header>
			<!-- header end -->

      {% include menu.html %}
      {{ content }}
      {% include footer.html %} 

		</div>
    {% include js.html %}         

	</body>
</html>
